<div class="modal-background">
    <form id='login-form' (keyup.enter)="confirm(login.value, pass1.value, pass2.value, name.value, email.value)">
        <div class="container">
            <div class='alpha-inner'>
                <h1 class='text-center page-header'>Регистрация</h1>
            </div>
            <div class='form-group' style="display: block;height: 330px;overflow: hidden;overflow-y: auto;">
                <label class='text-label'>Номер телефона</label>
                <input type='text' class='form-control' name="login" #phone/>

                <label class='text-label'>Пароль</label>
                <input type='password' class='form-control' minlength="4" #pass/>

                <label class='text-label'>ФИО</label>
                <input type='text' class='form-control' #name/>

                <label class='text-label'>Серия паспорта</label>
                <input type='text' class='form-control' #serial/>

                <label class='text-label'>Номер паспорта</label>
                <input type='text' class='form-control' #number/>

                <label class='text-label'>E-mail</label>
                <input class='form-control' #email/>
            </div>
            <div class='footer reg-form'>
                <a class='btn-l btn-blue btn-indent btn-medium' (click)="close()">
                    Отмена
                </a>
                <a class='btn-r btn-blue btn-indent btn-medium'
                   (click)="confirm({phone: phone.value, pass: pass.value, name: name.value,
                                     serial: serial.value, number: number.value, email: email.value})">
                    Подтвердить
                </a>
            </div>
        </div>
    </form>
</div>