<div style="padding:150px; font-size: 14px">
    <span style="padding-left:50px;"></span>

    <h3 style="text-align: center">Политика конфиденциальности</h3>
    <span style="padding-left:50px;">Настоящая </span>Политика конфиденциальности персональной информации (далее — Политика)
    действует в отношении всей информации, которую физ. лицо и/или его аффилированные лица, могут получить о пользователе во время использования им сайта САЙТ
    <br/>
    <span style="padding-left:50px;">Использование </span> сайта САЙТ означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями пользователь должен воздержаться от использования данного ресурса.
    <br/>
    1. Персональная информация пользователей, которую получает и обрабатывает сайт САЙТ
    <br/>
    <div style="padding-left:20px;">
        1.1. В рамках настоящей Политики под «персональной информацией пользователя» понимаются:
        <br/>
        <div style="padding-left:20px;">
            1.1.1. Персональная информация, которую пользователь предоставляет о себе самостоятельно при оставлении заявки, совершении покупки, регистрации (создании учётной записи) или в ином процессе использования сайта.
            <br/>
            1.1.2 Данные, которые автоматически передаются сайтомСАЙТ в процессе его использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к сайту), время доступа, адрес запрашиваемой страницы.
            <br/>
            1.1.3. Данные, которые предоставляются сайту, в целях осуществления оказания услуг и/или продаже товара и/или предоставления иных ценностей для посетителей сайта, в соответствии с деятельностью настоящего ресурса:
            фамилия
            имя
            отчество
            адрес регистрации/отправки корреспонденции
            электронная почта
            номер телефона
            ссылка на персональный сайт или соцсети
            ИНН
            ОГРН
            <br/>
        </div>
        1.2. Настоящая Политика применима только к сайту САЙТ и не контролирует и не несет ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на сайте САЙТ. На таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.
        <br/>
        1.3. Сайт в общем случае не проверяет достоверность персональной информации, предоставляемой пользователями, и не осуществляет контроль за их дееспособностью. Однако сайт САЙТ исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в формах настоящего ресурса, и поддерживает эту информацию в актуальном состоянии.
        <br/>
    </div>
    2. Цели сбора и обработки персональной информации пользователей
    <br/>
    <div style="padding-left:20px;">
        2.1. Сайт собирает и хранит только те персональные данные, которые необходимы для оказания услуг и/или продаже товара и/или предоставления иных ценностей для посетителей сайта САЙТ
        <br/>
        2.2. Персональную информацию пользователя можно использовать в следующих целях:
        <br/>
        <div style="padding-left:20px;">
            2.2.1 Идентификация стороны в рамках соглашений и договоров с сайтом
            <br/>
            2.2.2 Предоставление пользователю персонализированных услуг и сервисов, товаров и иных ценностей
            <br/>
            2.2.3 Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования сайта, оказания услуг, а также обработка запросов и заявок от пользователя
            <br/>
            2.2.4 Улучшение качества сайта, удобства его использования, разработка новых товаров и услуг
            <br/>
            2.2.5 Таргетирование рекламных материалов
            <br/>
            2.2.6 Проведение статистических и иных исследований на основе предоставленных данных
            <br/>
            2.2.7 Передача данных третьим лицам, в целях осуществления деятельности ресурса (например доставка товара курьером, транспортной компанией и иные)
            <br/>
            2.2.8 Заключения, исполнения и прекращения гражданско-правовых договоров с физическими, юридическими лицами, индивидуальными предпринимателями и иными лицами, в случаях, предусмотренных действующим законодательством и/или Уставом предприятия
            <br/>
        </div>
    </div>
    3. Условия обработки персональной информации пользователя и её передачи третьим лицам
    <br/>
    <div style="padding-left:20px;">
        3.1. Сайт САЙТ хранит персональную информацию пользователей в соответствии с внутренними регламентами конкретных сервисов.
        <br/>
        3.2. В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц.
        <br/>
        3.3. Сайт САЙТ вправе передать персональную информацию пользователя третьим лицам в следующих случаях:
        <br/>
        <div style="padding-left:20px;">
            3.3.1. Пользователь выразил свое согласие на такие действия, путем согласия выразившегося в предоставлении таких данных;
            <br/>
            3.3.2. Передача необходима в рамках использования пользователем определенного сайта
            САЙТ, либо для предоставления товаров и/или оказания услуги пользователю;
            3.3.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
            <br/>
            3.3.4. В целях обеспечения возможности защиты прав и законных интересов сайта САЙТ или третьих лиц в случаях, когда пользователь нарушает Пользовательское соглашение сайта САЙТ
            <br/>
        </div>
        3.4. При обработке персональных данных пользователей сайт САЙТ руководствуется Федеральным законом РФ «О персональных данных».
        <br/>
    </div>
    4. Изменение пользователем персональной информации
    <br/>
    <div style="padding-left:20px;">
        4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, а также параметры её конфиденциальности, оставив заявление в адрес администрации сайта следующим способом:
        Форма комментраев
        <br/>
        4.2. Пользователь может в любой момент, отозвать свое согласие на обработку персональных данных, оставив заявление в адрес администрации сайта следующим способом:
        Форма комментарией
        <br/>
    </div>
    5. Меры, применяемые для защиты персональной информации пользователей
    Сайт принимает необходимые и достаточные организационные и технические меры для защиты персональной информации пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
    <br/>
    6. Изменение Политики конфиденциальности. Применимое законодательство
    <br/>
    <div style="padding-left:20px;">
        6.1. Сайт имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. Действующая редакция всегда находится на странице по адресу САЙТ
        <br/>
        6.2. К настоящей Политике и отношениям между пользователем и Сайтом, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.
        <br/>
    </div>
    7. Обратная связь. Вопросы и предложения
    <br/>
    <div style="padding-left:20px;">
        7.1. Все предложения или вопросы по поводу настоящей Политики следует направлять следующим способом:
        Форма комментариев
    </div>

    <h3 style="text-align: center">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h3>
    1. ОБЩИЕ ПОЛОЖЕНИЯ
    <br/>
    <div style="padding-left:20px;">
        1.1. Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту САЙТ, расположенному по адресу САЙТ
        <br/>
        1.2. Сайт САЙТ (далее – Сайт) является собственностью физического лица
        <br/>
        1.3. Настоящее Соглашение регулирует отношения между Администрацией сайта САЙТ далее – Администрация сайта) и Пользователем данного Сайта.
        <br/>
        1.4. Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.
        <br/>
        1.5. Использование Сайта Пользователем означает принятие Соглашения и изменений, внесенных в настоящее Соглашение.
        <br/>
        1.6. Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.
        <br/>
    </div>
    2. ОПРЕДЕЛЕНИЯ ТЕРМИНОВ
    <br/>
    <div style="padding-left:20px;">
        2.1. Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:
        <br/>
        <div style="padding-left:20px;">
            2.1.1 САЙТ– Интернет-ресурс, расположенный на доменном имени САЙТ, осуществляющий свою деятельность посредством Интернет-ресурса и сопутствующих ему сервисов (далее — Сайт).
            <br/>
            2.1.2. САЙТ – сайт, содержащий информацию о Товарах и/или Услугах и/или Иных ценностях для пользователя, Продавце и/или Исполнителе услуг, позволяющий осуществить выбор, заказ и (или) приобретение Товара, и/или получение услуги.
            <br/>
            2.1.3. Администрация сайта – уполномоченные сотрудники на управление Сайтом, действующие от имени физического лица.
            <br/>
            2.1.4. Пользователь сайта (далее — Пользователь) – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
            <br/>
            2.1.5. Содержание сайта (далее – Содержание) — охраняемые результаты интеллектуальной деятельности, включая тексты литературных произведений, их названия, предисловия, аннотации,
            статьи, иллюстрации, обложки, музыкальные произведения с текстом или без текста, графические, текстовые, фотографические, производные, составные и иные произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы данных, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного Содержания, входящего в состав Сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на сайте САЙТ.
            <br/>
        </div>
    </div>
    3. ПРЕДМЕТ СОГЛАШЕНИЯ
    <br/>
    <div style="padding-left:20px;">
        3.1. Предметом настоящего Соглашения является предоставление Пользователю доступа к содержащимся на Сайте Товарам и/или оказываемым услугам.
        <br/>
        <div style="padding-left:20px;">
            3.1.1. Сайт предоставляет Пользователю следующие виды услуг (сервисов):
            доступ к электронному контенту на платной основе, с правом приобретения (скачивания), просмотра контента; доступ к информации о Товаре и/или услуге к информации о приобретении Товара на платной/бесплатной основе;
            <br/>
            3.1.2. Под действие настоящего Соглашения подпадают все существующие (реально функционирующие) на данный момент услуги (сервисы) Сайта, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы).
            <br/>
        </div>
        3.2. Доступ к сайту предоставляется на платной и на бесплатной основах.
        <br/>
        3.3. Настоящее Соглашение является публичной офертой. Получая доступ к Сайту Пользователь считается присоединившимся к настоящему Соглашению.
        <br/>
        3.4. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.
        <br/>
    </div>
    4. ПРАВА И ОБЯЗАННОСТИ СТОРОН
    <br/>
    <div style="padding-left:20px;">
        4.1. Администрация сайта вправе:
        <br/>
        <div style="padding-left:20px;">
            4.1.1. Изменять правила пользования Сайтом, а также изменять содержание данного Сайта.
            Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.
            <br/>
            4.1.2. Удалять учетные записи Пользователей.
            <br/>
            4.1.3. Отказывать в регистрации без объяснения причины.
            <br/>
        </div>
        4.2. Пользователь вправе:
        <br/>
        <div style="padding-left:20px;">
            4.2.1. Пользоваться всеми имеющимися на Сайте услугами, а также приобретать любые Товары и/или Услуги, предлагаемые на Сайте.
            <br/>
            4.2.2. Задавать любые вопросы, относящиеся к услугам сайта:
            через Форму комментариев.
            <br/>
            4.2.3. Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не запрещенных законодательством Российской Федерации.
            <br/>
            4.2.4. Копировать информацию с Сайта запрещается.
            <br/>
            4.2.5. Требовать от администрации скрытия любой информации о пользователе.
            <br/>
            4.2.6. Использовать информацию сайта для личных некоммерческих целей.
        </div>
    </div>
</div>