<div>
    <div class='header'>
        <section id='container'>
            <nav>
                <ul class='nav'>
                    <li><a class='nav-icon NavLink' (click)="home()" title='Главная'><span class='icon-home'>Главная</span></a></li>
                    <li><a class='NavLink'>Добавить сотрудника</a>
                        <div>
                            <ul>
                                <li><a class='NavLink' (click)="showDialogCreateWorker('doctor')">Доктор</a></li>
                                <li><a class='NavLink' (click)="showDialogCreateWorker('admin')">Администратор</a></li>
                            </ul>
                        </div>
                    </li>
                    <li *ngIf="user && user.roleName!='Пациент'">
                        <a class='NavLink' routerLink="/patients" routerLinkActive="active">Пациенты</a>
                    </li>
                    <li><a class='NavLink' routerLink="/doctors" routerLinkActive="active">Доктора</a></li>
                    <li *ngIf="!user"><a class='NavLink' routerLink="/registration" routerLinkActive="active">
                        Записаться на приём</a>
                    </li>
                    <li *ngIf="user"><a class='NavLink' routerLink="/doctors" routerLinkActive="active">
                        Записаться на приём</a>
                    </li>
                    <li><a (click)="a()" class='NavLink'>О нас</a></li>
                    <li><a class='NavLink'>Контакты</a></li>
                </ul>
                <aunt-form *ngIf="!user" [user]="user" (isAunt)="isAunt($event)"></aunt-form>
                <ul *ngIf="user" class='nav nav-right'>
                    <li>
                        <a class='NavLink' id='NavLink-right'>
                            <div id='lk' align="center">
                                <strong id='nameClient'>{{user.name}}</strong>
                                <div class="styled-select">
                                    <span>{{user.roleName}}</span>
                                    <!--<select [(ngModel)]="selectedValue">-->
                                        <!--<option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>-->
                                    <!--</select>-->
                                </div>
                                <!--<p id='balance'>Баланс:{{user.balance || 0}}р</p>-->
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class='nav-icon NavLink' (click)="logout()" title='Выход'><span class='icon-exit'>Выход</span></a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</div>
<create-worker-form *ngIf="isModalDialogVisible" [worker]="worker" (isConfirmed)="closeModalCreateWorker($event)">
</create-worker-form>