<div>
    <div class='header'>
        <section id='container'>
            <nav>
                <ul class='nav'>
                    <li><a class='nav-icon NavLink' title='Главная'><span class='icon-home'>Главная</span></a></li>
                    <li><a class='NavLink'>Сообщения</a>
                    <div>
                        <ul>
                            <li><a class='NavLink'>
                                Новое
                                </a></li>
                            <li><a class='NavLink'>Отправленные</a></li>
                        </ul>
                    </div>
                </li>
                    <li><a class='NavLink'>Обучение</a></li>
                    <li><a class='NavLink'>О нас</a></li>
                    <li><a class='NavLink'>Контакты</a></li>
                </ul>
                <aunt-form *ngIf="!user" [user]="user" (isAunt)="isAunt($event)"></aunt-form>
                <ul *ngIf="user" class='nav nav-right'>
                    <li>
                        <a class='NavLink' id='NavLink-right'>
                            <div id='lk'>
                                <strong id='nameClient'>{{user.name}}</strong>
                                <p id='balance'>Баланс:{{user.balance}}р</p>
                            </div>
                        </a>
                    </li>
                    <li >
                        <a class='nav-icon NavLink' (click)="logout()" title='Выход'><span class='icon-exit'>Выход</span></a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</div>