
.ng2-opd-popup-content-main {
    position: absolute;
    border-radius: 3px;
    background-color: white;
    z-index: 999;
    top: 30%;
}

.ng2-opd-popup-well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.ng2-opd-popup-well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
}
.ng2-opd-popup-well-lg {
    padding: 24px;
    border-radius: 6px;
}
.ng2-opd-popup-well-sm {
    padding: 9px;
    border-radius: 3px;
}

.btn:focus,
.btn:active {
    outline: none !important;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -30%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    to {
        transform: none;
    }
}
.popup {
    border-color: #198d98;
    border-style: solid;
    border-width: 1px;
    width: 40%;
    margin-left: 30%;
    animation-duration: 1s;
    animation-name: bounceInDown;
    font-size: 16px;
}
.title {
    border-color: #198d98;
    background-color: #198d98;
    border-style: solid;
    border-width: 1px;
    color: rgb(255, 255, 255);
    border-radius: 1px;
}