<div class='form-group'>
    <form id='login-form'>
        <h1>Авторизация на сайте</h1>
        <fieldset>
            <span class='span fontawesome-user'> </span>
            <input type='text' placeholder='login'/>
            <span class='span fontawesome-lock'> </span>
            <input class='inp-pass' type='password' placeholder='password'/>

            <footer class='clearfix'>
                <p>
                    <span class='info'>?</span>
                    <a>Забыли пароль?</a>
                </p>
            </footer>
            <a class='btn-reg btn-blue btn-l btn-indent' type='submit'>Регистрация</a>
            <a class='btn-blue btn-r btn-indent' type='submit'>Войти</a>
        </fieldset>
    </form>
</div>