nav a.active {
    border-radius: 3px;
    padding: 2px 8px;
    background-color: forestgreen;
    color: white;
}

.class1 {
    color: forestgreen;
}

input:focus.ng-invalid.ng-dirty {
    border: 1px solid red;
}