<div>
    <nav-menu></nav-menu>
    <router-outlet></router-outlet>
    <!--<button (click)="ClickButton()" >ЖМИИИ и познаешь силу Попупа</button>-->
    <popup></popup>
    <notifications></notifications>
    <!--<button (click)="showToast('Информация', 'Удали свою страницу из ВК')" >ЖМИИИ и познаешь силу Уведомлений</button>-->

<!--<nav>-->
    <!--<a routerLink="/list1" routerLinkActive="active"> List 1 </a>-->
    <!--<a routerLink="/list2" routerLinkActive="active"> List 2 </a>-->
<!--</nav>-->

<!--<div>-->
    <!--<router-outlet></router-outlet>-->
<!--</div>-->

</div>