<div style="padding-top: 150px;">
    <div style="border: 2px solid #292828; width: 95%; margin: auto; border-radius: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.5);">
        <table class="table table-bordered table-hover sales_team-table scrolling-table" style="border: 2px solid #292828; margin-top: 40px;">
            <thead>
            <tr>
                <th width="500px">Пациент</th>
                <th width="500px">Дата приёма</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let schedule of schedules">
                <td width="470px" class='clickable'>{{schedule.name}}</td>
                <td width="500px" class='clickable'>{{schedule.date}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>